<ng-container>
  <div class="card">
    <div class="card-body">
      <p-toolbar styleClass="p-mb-4"   *ngIf="isNew">
          <ng-template pTemplate="left">
              <button pButton pRipple label="Duyệt nhanh"
                  icon="pi pi-check-square"
                  [disabled]="!(productSelect && productSelect.length > 0)"
                  class="p-button-primary p-mr-2" >
              </button>&nbsp;
          </ng-template>
          <ng-template pTemplate="right">
            <p-fileUpload
              mode="basic"
              accept="image/*"
              [maxFileSize]="1000000"
              label="Import"
              chooseLabel="Import"
              class="p-mr-2 p-d-inline-block"
            ></p-fileUpload>
            &nbsp;
            <button
              pButton
              pRipple
              label="Export"
              icon="pi pi-upload"
              class="p-button-help"
            ></button>
          </ng-template>
      </p-toolbar>
      <br />
      <ng-container *ngIf="products | async as dataSource">
        <p-table
          #dt
          [value]="dataSource"
          [rows]="10"
          [paginator]="true"
          [globalFilterFields]="['name']"
          [(selection)]="productSelect"
          [rowHover]="true"
          dataKey="id"
          selectionMode="single"
          currentPageReportTemplate="Hiển thị từ {first} đến {last}
          trong tổng số
          {totalRecords} bản ghi"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <div class="row">
                <div class="col-sm-8">
                  <h5 class="p-m-0">Danh sách sản phẩm</h5>
                </div>
                <div class="col-sm-4 text-right">
                  <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="dt.filterGlobal($event.target, 'contains')"
                      placeholder="Search..."
                    />
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 125px;text-align: center;">Ảnh</th>
              <th pSortableColumn="name">
                Tên sản phẩm
              </th>
              <!-- <th pSortableColumn="type">Danh mục</th> -->
              <th>Tên cửa hàng</th>
              <th>Tình trạng</th>
              <!-- <th>Ngày thêm</th> -->
              <th style="width: 10rem;">Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr *ngIf="product.properties.infoBasic">
              <td>
                <p-image
                  alt="image"
                  width="100px"
                  height="80px"
                  [src]="
                    product.properties.infoBasic
                      ? product.properties.infoBasic[0].data[0].url
                      : 'https://cdn.tgdd.vn/Products/Images/4728/242566/camera-ip-360-do-3mp-tp-link-tapo-c210-2-1-org.jpg'
                  "
                ></p-image>
              </td>
              <td>
                {{
                  product.properties.infoBasic
                    ? product.properties.infoBasic[2].value
                    : ''
                }}
              </td>
              <!-- <td>{{ product.category }}</td> -->
              <td>{{ product.shopName }}</td>
              <td>
                {{ product.properties.infoOther[0].property.value }}
              </td>
              <!-- <td>{{ product.creationTime }}</td> -->
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  (click)="viewProduct(product)"
                  class="p-button-rounded p-button-success p-mr-2"
                ></button>
                &nbsp;
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  (click)="deleteProduct(product)"
                  class="p-button-rounded p-button-warning"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
  
    </div>
  </div>
</ng-container>

<p-dialog
  [(visible)]="showDialogDetailProduct"
  [style]="{ width: '70vw' }"
  header="Cập nhật trạng thái sản phẩm"
  [modal]="true"
  styleClass="p-fluid"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div *ngIf="itemView">
    <p-tabView
      [activeIndex]="index"
      (onChange)="onChange($event)"
    >
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-home"></i>
          &nbsp;
          <span>Thông tin cơ bản</span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><strong>Thông tin cơ bản</strong></h3>
            </div>
            <div class="card-body" style="margin: 20px;">
              <ng-container *ngIf="itemView.properties">  
                <div class="row">
                  <div class="col-3">
                    Danh mục sản phẩm
                  </div>
                  <div class="col-9">
                    
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">
                    Hình ảnh sản phẩm
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <div
                        class="col-sm-2 img-item"
                        *ngFor="
                          let image of itemView.properties.infoBasic[0]?.data
                        "
                      >
                        <div *ngIf="image.url !== ''">
                          <img
                            [src]="image.url"
                            style="height: 6rem; width: 6rem; position: relative;"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">
                    Video sản phẩm
                  </div>
                  <div class="col-9">
                    <div *ngIf="itemView.properties.infoBasic[1]?.url != ''">
                      <iframe
                        width="320"
                        height="200"
                        id="image"
                        [src]="itemView.properties.infoBasic[1]?.url"
                      ></iframe>
                    </div>
                    <div *ngIf="itemView.properties.infoBasic[1]?.url == ''">
                      <span>Chưa có video</span>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">
                    Tên sản phẩm
                  </div>
                  <div class="col-9">
                    <div class="p-inputgroup">
                      <input
                        type="text"
                        [(ngModel)]="itemView.properties.infoBasic[2].value"
                        pInputText
                        disabled
                      />
                      <span class="p-inputgroup-addon">0/120</span>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3">
                    Mô tả sản phẩm
                  </div>
                  <div class="col-9">
                    <div class="p-inputgroup">
                      <textarea
                        [rows]="5"
                        [cols]="150"
                        [(ngModel)]="itemView.properties.infoBasic[3].value"
                        pInputTextarea
                        autoResize="autoResize"
                        disabled
                      ></textarea>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="mt-3 pb-3" style="float: right;">
            <button
              type="button"
              (click)="closeCreateObject()"
              class="btn btn-secondary"
            >
              <i class="fas fa-times pr-2"></i>
              Đóng
            </button>
            &nbsp;
            <button type="button" (click)="nextTab(1)" class="btn btn-info">
              Tiếp theo
              <i class="fas fa-arrow-right pl-2"></i>
            </button>
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-home"></i>
          &nbsp;
          <span>Thông tin chi tiết</span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><strong>Thông tin chi tiết</strong></h3>
            </div>
            <div class="card-body" style="margin: 20px;">
              <div class="row">
                <ng-container
                  *ngFor="let detail of itemView.properties.infoDetail"
                >
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-3">{{ detail.property.name }}</div>
                      <div class="col-8">
                        <div
                          class="p-inputgroup"
                          *ngIf="detail.property.inputType === 1"
                        >
                          <input
                            type="text"
                            [(ngModel)]="detail.property.value"
                            pInputText
                            disabled
                          />
                        </div>
                        <div *ngIf="detail.property.inputType === 2">
                          <p-dropdown
                            optionLabel="name"
                            [(ngModel)]="detail.property.value"
                            [options]="detail.property.properties"
                            optionLabel="displayvalue"
                            [showClear]="true"
                          ></p-dropdown>
                        </div>
                      </div>
                    </div>
                    <br />
                  </div>
                </ng-container>
              </div>
              <br />
            </div>
          </div>

          <div class="mt-3 pb-3" style="float: right;">
            <button
              type="button"
              (click)="backTab(0)"
              class="btn btn-secondary"
            >
              <i class="fas fa-arrow-left pr-2"></i>
              Quay lại
            </button>
            &nbsp;
            <button type="button" (click)="nextTab(2)" class="btn btn-info">
              Tiếp theo
              <i class="fas fa-arrow-right pl-2"></i>
            </button>
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-home"></i>
          &nbsp;
          <span>Thông tin bán hàng</span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><strong>Thông tin bán hàng</strong></h3>
            </div>
            <div class="card-body" style="margin: 20px;">
              <div class="row">
                <div
                  class="col-sm-12"
                  *ngFor="let item of itemView.properties.infoSell"
                >
                  <div class="row">
                    <div class="col-3">{{ item.property.name }}</div>
                    <div class="col-8">
                      <div
                        class="p-inputgroup"
                        *ngIf="item.property.inputType === 1"
                      >
                        <input
                          type="text"
                          [(ngModel)]="item.property.value"
                          pInputText
                          disabled
                        />
                      </div>
                      <div *ngIf="item.property.inputType === 2">
                        <p-dropdown
                          optionLabel="name"
                          [(ngModel)]="item.property.value"
                          [options]="item.property.properties"
                          optionLabel="displayvalue"
                          [showClear]="true"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
              <br />
            </div>
          </div>
          <div class="mt-3 pb-3" style="float: right;">
            <button
              type="button"
              (click)="backTab(1)"
              class="btn btn-secondary"
            >
              <i class="fas fa-arrow-left pr-2"></i>
              Quay lại
            </button>
            &nbsp;
            <button type="button" (click)="nextTab(3)" class="btn btn-info">
              Tiếp theo
              <i class="fas fa-arrow-right pl-2"></i>
            </button>
          </div>
        </ng-template>
      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-home"></i>
          &nbsp;
          <span>Thông tin khác</span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><strong>Thông tin khác</strong></h3>
            </div>
            <div class="card-body" style="margin: 20px;">
              <div class="row">
                <div
                  class="col-sm-12"
                  *ngFor="let item of itemView.properties.infoOther"
                >
                  <div class="row">
                    <div class="col-3">{{ item.property.name }}</div>
                    <div class="col-8">
                      <div
                        class="p-inputgroup"
                        *ngIf="item.property.inputType === 1"
                      >
                        <input
                          type="text"
                          [(ngModel)]="item.property.value"
                          pInputText
                          disabled
                        />
                      </div>
                      <div *ngIf="item.property.inputType === 2">
                        <p-dropdown
                          optionLabel="name"
                          [(ngModel)]="item.property.value"
                          [options]="item.property.properties"
                          optionLabel="displayvalue"
                          [showClear]="true"
                        ></p-dropdown>
                      </div>
                    </div>
                  </div>
                  <br />
                </div>
              </div>
              <br />
            </div>
          </div>
          <div class="mt-3 pb-3" style="float: right;">
            <button
              type="button"
              (click)="backTab(2)"
              class="btn btn-secondary"
            >
              <i class="fas fa-arrow-left pr-2"></i>
              Quay lại
            </button>
            &nbsp;
            <button type="button" (click)="nextTab(4)" class="btn btn-info">
              Tiếp theo
              <i class="fas fa-arrow-right pl-2"></i>
            </button>
          </div>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-check-circle"></i>
          &nbsp;
          <span>Phê duyệt / Từ chối</span>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="card" style="min-height: 10rem;">
            <div class="card-header">
              <h3 class="card-title"><strong>Phê duyệt cửa hàng</strong></h3>
            </div>
            <div class="card-body">
              <div class="row" style="margin-left: 5px;">
                <div class="p-field-radiobutton">
                  <p-radioButton
                    name="city"
                    [value]="2"
                    [(ngModel)]="itemView.state"
                    inputId="state2"
                  ></p-radioButton>
                  <label for="city2">Duyệt</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton
                    name="city"
                    [value]="3"
                    [(ngModel)]="itemView.state"
                    inputId="state3"
                  ></p-radioButton>
                  <label for="city3">Yêu cầu chỉnh sửa</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton
                    name="city"
                    [value]="4"
                    [(ngModel)]="itemView.state"
                    inputId="state4"
                  ></p-radioButton>
                  <label for="city3">Ngừng kinh doanh</label>
                </div>
              </div>
              <br />
            </div>
          </div>
          <div class="mt-3 pb-3" style="float: right;">
            <button
              type="button"
              (click)="backTab(3)"
              class="btn btn-secondary"
            >
              <i class="fas fa-arrow-left pr-2"></i>
              Quay lại
            </button>
            &nbsp;
            <button type="button" (click)="save()" class="btn btn-info">
              Lưu
              <i class="fas fa-arrow-right pl-2"></i>
            </button>
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-dialog>


