<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h4>{{ "Thông tin cư dân"}}</h4>
                </div>
                <div class="col-6 text-right">
                    <a class="btn" [routerLink]="['../citizen-menu']">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                        {{"Trở về"}}
                    </a>
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
    <!-- tab panel -->
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Thông tin tài khoản</a>
            <ng-template ngbNavContent>
                <!-- Create user account -->
                <section>
                    <div class="row">
                        <div class="col-6 ml-4">
                            <button class="btn bg-light" (click)="open(accountModal)">Thêm mới tài khoản</button>
                            <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText
                                    placeholder="Tìm kiếm tên tài khoản"
                                    (keydown.enter)="searchUsers($event)" />
                            </span>
                        </div>
                    </div>
                </section>
                <!-- popup create -->
                <ng-template #accountModal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Thông tin tài khoản</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Ảnh đại diện</label>
                                    <span class="text-danger">*</span>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input"
                                            (change)="uploadUserImage($event.target)">
                                        <small class="p-invalid" *ngIf="!user.urlImage && isSubmitUser">
                                            Ảnh đại diện không được để trống!
                                        </small>
                                        <label class="custom-file-label">{{fileTitle}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <span class="text-danger">*</span>
                                    <input [(ngModel)]="user.fullName" type="text" class="form-control"
                                        placeholder="Họ và tên nguời dùng">
                                    <small class="p-invalid" *ngIf="!user.fullName && isSubmitUser">
                                        Họ tên không được để trống!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input [(ngModel)]="user.email" type="text" class="form-control"
                                        placeholder="Email cá nhân">
                                </div>
                                <div class="form-group">
                                    <label>CMND/ Căn cước</label>
                                    <span class="text-danger">*</span>
                                    <input [(ngModel)]="user.identityNumber" type="text" class="form-control"
                                        placeholder="Số CMND/Căn cước">
                                    <small class="p-invalid" *ngIf="!user.identityNumber && isSubmitUser">
                                        CMND/Căn cước không được để trống!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input [(ngModel)]="user.phoneNumber" type="text" class="form-control"
                                        placeholder="Số điện thoại di động">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Tên đăng nhập</label>
                                    <span class="text-danger">*</span>
                                    <input [(ngModel)]="user.userName" type="text" class="form-control"
                                        placeholder="Tên đăng nhập">
                                    <small class="p-invalid" *ngIf="!user.userName && isSubmitUser">
                                        Tên đăng nhập không được để trống!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu</label>
                                    <span class="text-danger">*</span>
                                    <input [(ngModel)]="user.password" type="password" class="form-control"
                                        placeholder="Mật khẩu">
                                    <small class="p-invalid" *ngIf="!user.password && isSubmitUser">
                                        Mật khẩu không được để trống!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Quyền</label>
                                    <span class="text-danger">*</span>
                                    <select name="contactMethod" id="contactMethod" class="form-control"
                                        [(ngModel)]="user.roleId">
                                        <option value="1">{{ "Admin" }}</option>
                                        <option value="2">{{ "User" }}</option>
                                    </select>
                                    <small class="p-invalid" *ngIf="!user.roleId && isSubmitUser">
                                        Quyền không được để trống!
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-light" (click)="submitUser()">Tạo tài khoản</button>
                    </div>
                </ng-template>
                <!-- table -->
                <section>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ng-container *ngIf="users">
                                <p-table #dt [value]="users " [rows]="10" [paginator]="true"
                                    [globalFilterFields]="['name']" [rowHover]="true" dataKey="id"
                                    currentPageReportTemplate="Hiển thị từ {first} đến {last}
                                    trong tổng số
                                    {totalRecords} bản ghi" [showCurrentPageReport]="true">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="text-align: center;">{{ "Ảnh đại diện" }}</th>
                                            <th style="text-align: center;">{{ "Id cư dân" }}</th>
                                            <!-- <th style="width:15rem">{{ "Họ tên" }}</th> -->
                                            <th>{{ "Tên đăng nhập" }}</th>
                                            <th>{{ "Quyền" }}</th>
                                            <th>{{ "CMND/Căn cước" }}</th>
                                            <th>{{ "Email" }}</th>
                                            <th>{{ "Số điện thoại" }}</th>
                                            <th style="width:10rem">{{ "Công cụ" }}</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-person>
                                        <tr>
                                            <td style="text-align: center;">
                                                <img style="width: 50px; height: 50px;" [src]="person.urlImage" alt="">
                                            </td>
                                            <td style="text-align: center;">{{person.userId}}</td>
                                            <!-- <td style="width:15rem">{{ person.fullName }}</td> -->
                                            <td>{{ person.userName}}</td>
                                            <td>{{ person.roleId | role}}</td>
                                            <td>{{ person.identityNumber }}</td>
                                            <td>{{ person.email }}</td>
                                            <td>{{ person.phoneNumber }}</td>
                                            <td style="width:10rem">
                                                <button (click)="editUser(person)" type="button"
                                                    class="btn btn-sm bg-warning">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button (click)="deleteUser(person)" type="button"
                                                    class="btn btn-sm bg-danger mx-2">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-container>
                        </div>
                    </div>
                    <p-toast></p-toast>
                </section>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Thông tin cư dân</a>
            <ng-template ngbNavContent>
                <!-- Create Citizen -->
                <section>
                    <div class="row">
                        <div class="col-6 ml-4">
                            <button class="btn bg-light" (click)="open(mymodal)">Thêm mới cư dân</button>
                            <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText
                                    placeholder="Tìm kiếm cư dân"
                                    (keydown.enter)="searchCitizens($event)" />
                            </span>
                        </div>
                    </div>
                </section>
                <!-- popup create -->
                <ng-template #mymodal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Thông tin cư dân</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Ảnh đại diện</label>
                                    <span class="text-danger">*</span>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input"
                                            (change)="uploadImage($event.target)">
                                        <small class="p-invalid" *ngIf="!citizen.urlImage && isSubmitCitizen">
                                            Ảnh đại diện không được để trống!
                                        </small>
                                        <label class="custom-file-label">{{fileTitle}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Id cư dân</label>
                                    <span class="text-danger">*</span>
                                    <input [(ngModel)]="citizen.userId" type="text" class="form-control"
                                        placeholder="Id cư dân( có thể dùng chung Id cư dân)">
                                    <small class="p-invalid" *ngIf="!citizen.userId && isSubmitCitizen">
                                        Id cư dân không được để trống!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <span class="text-danger">*</span>
                                    <input [(ngModel)]="citizen.citizenName" type="text" class="form-control"
                                        placeholder="Họ và tên cư dân">
                                    <small class="p-invalid" *ngIf="!citizen.citizenName && isSubmitCitizen">
                                        Họ tên không được để trống!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>CMND/Căn cước</label>
                                    <span class="text-danger">*</span>
                                    <input [(ngModel)]="citizen.identityNumber" type="text" class="form-control"
                                        placeholder="Số CMND/Căn cước">
                                    <small class="p-invalid" *ngIf="!citizen.identityNumber && isSubmitCitizen">
                                        CMND/Căn cước không được để trống!
                                    </small>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <span class="text-danger">*</span>
                                    <div class='input-group date'>
                                        <input [(ngModel)]="citizen.dateOfBirth" type='date' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <small class="p-invalid" *ngIf="!citizen.dateOfBirth && isSubmitCitizen">
                                        Ngày sinh không được để trống!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ nhà</label>
                                    <span class="text-danger">*</span>
                                    <input [(ngModel)]="citizen.address" type="text" class="form-control"
                                        placeholder="Địa chỉ nhà">
                                    <small class="p-invalid" *ngIf="!citizen.address && isSubmitCitizen">
                                        Địa chỉ nhà không được để trống!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Tình trạng công việc</label>
                                    <select class="custom-select" [(ngModel)]="citizen.job">
                                        <option value="0">Nghỉ hưu</option>
                                        <option value="1">Không có</option>
                                        <option value="2">Lãnh đạo quản lý</option>
                                        <option value="3">Nhà chuyên môn bậc cao</option>
                                        <option value="4">Nhà chuyên môn bậc trung</option>
                                        <option value="5">Nhân viên trợ lý</option>
                                        <option value="6">Nhân viên dịch vụ</option>
                                        <option value="7">Lao động có kỹ năng</option>
                                        <option value="8">Lao động thủ công</option>
                                        <option value="9">Thợ lắp ráp, vận hành</option>
                                        <option value="10">Lao động giản đơn</option>
                                        <option value="11">Lực lượng vũ trang</option>
                                        <option value="12">Khác</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <span class="text-danger">*</span>
                                    <br />
                                    <div class="d-flex inline-block justify-content-between">
                                        <div class="m-2">
                                            <input class="m-1" type="radio" value="1" name="gender"
                                                [(ngModel)]="citizen.gender">Nam
                                        </div>
                                        <div class="m-2">
                                            <input class="m-1" type="radio" value="0" name="gender"
                                                [(ngModel)]="citizen.gender">Nữ
                                        </div>
                                        <div class="m-2">
                                            <input class="m-1" type="radio" value="2" name="gender"
                                                [(ngModel)]="citizen.gender">Khác
                                        </div>
                                    </div>
                                    <br>
                                    <small class="p-invalid" *ngIf="!citizen.gender && isSubmitCitizen">
                                        Giới tính không được để trống!
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-light" (click)="submitCitizen()">Thêm</button>
                    </div>
                </ng-template>
                <!-- table -->
                <section>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ng-container *ngIf="citizens">
                                <p-table #dt [value]="citizens " [rows]="10" [paginator]="true"
                                    [globalFilterFields]="['name']" [rowHover]="true" dataKey="id"
                                    currentPageReportTemplate="Hiển thị từ {first} đến {last}
                                    trong tổng số
                                    {totalRecords} bản ghi" [showCurrentPageReport]="true">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="text-align: center;">{{ "Ảnh đại diện" }}</th>
                                            <th style="text-align: center;">{{ "ID cư dân" }}</th>
                                            <th style="width:15rem">{{ "Họ tên" }}</th>
                                            <th>{{ "Giới tính" }}</th>
                                            <th>{{ "CMND/Căn cước" }}</th>
                                            <th>{{ "Ngày sinh" }}</th>
                                            <th>{{ "Địa chỉ nhà" }}</th>
                                            <th style="width:10rem">{{ "Tình trạng công việc" }}</th>
                                            <th style="width:10rem">{{ "Công cụ" }}</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-person>
                                        <tr>
                                            <td style="text-align: center;">
                                                <img style="width: 50px; height: 50px;" [src]="person.urlImage" alt="">
                                            </td>
                                            <td style="text-align: center;">{{person.userId}}</td>
                                            <td style="width:15rem">{{ person.citizenName }}</td>
                                            <td>{{ person.gender | gender}}</td>
                                            <td>{{ person.identityNumber }}</td>
                                            <td>{{ person.dateOfBirth | date:'longDate'}}</td>
                                            <td>{{ person.address }}</td>
                                            <td style="width:10rem">{{ person.job | workstatus}}</td>
                                            <td style="width:10rem">
                                                <button (click)="editCitizen(person)" type="button"
                                                    class="btn btn-sm bg-warning">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button (click)="deleteCitizen(person)" type="button"
                                                    class="btn btn-sm bg-danger mx-2">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-container>
                        </div>
                    </div>
                    <p-toast></p-toast>
                </section>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>