<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h4>{{ "Đặt dịch vụ"}}</h4>
                </div>
                <div class="col-6 text-right">
                    <a class="btn"
                        [routerLink]="['../community-menu']">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                        {{"Trở về"}}
                    </a>
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
                <!-- community service -->
        <div class="card">
            <div class="card-body">
                <div class="card-title font-weight-bold">
                    <h4 class="font-weight-bold">Dịch vụ trong khu</h4>
                </div>
                <div class="card-text">
                    <div class="row justify-content-between">
                        <div class="col-2 m-5 d-flex justify-content-center"
                            *ngFor="let community of communities">
                            <div *ngIf="community.isActive" class="small-box" 
                                [routerLink]="['../booking-detail', community.communityId]">
                                <div class="inner-content">
                                    <img 
                                        style="width: 200px; height: 150px;" 
                                        [src]="community.urlImage" alt="">
                                </div>
                                <div class="inner-footer">
                                    <a class="font-weight-bold">
                                    {{community.serviceName}}
                                    </a>
                                </div>
                                <div class="inner-footer">
                                    <p class="font-italic">
                                        {{community.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>