.inner-content{
    display: flex;
    justify-content: center;
}
    
.inner-footer{
    text-align: center;
}
.small-box:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
a{
    color: rgb(0,0,0);
}