.left-bar{

}
.user-name{
    width: 5rem;
}
.friend-box{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    border:1px solid rgb(173, 173, 173);
    border-radius: 00.5rem;
}
.friend-box:hover{
    cursor: pointer;
    background-color: #dae0e5;
}
.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 650px;
    min-height: 650px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto;
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
}
.user-message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.reflect-inner{
    height: 400px;
    overflow: auto;
}