.content-wrapper{
    height: calc(100% - 80px);
}
/* :host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link,
:host ::ng-deep .p-tabview .p-tabview-panels,
:host ::ng-deep .p-datatable .p-datatable-header{
    background-color: #fff;
    color: #000;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-paginator,
:host ::ng-deep .p-paginator .p-paginator-current {
    background-color: rgb(207, 207, 207);
    color: #000;
} */
