<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-left">
                    <h4 style="margin: 1rem;">
                        Quản lý dân cư
                    </h4>
                </div>
                <div class="col-6 text-right">
                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="card">
                <div class="row">
                    <div class="p-col-12 p-lg-4">
                        <div class="card" style="width: 16rem;height: 21rem;">
                            <img 
                            class="card-img-top menu-img" 
                            src="https://www.primefaces.org/ultima-ng/assets/layout/images/widgets/feature-faq.svg" 
                            alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Thông tin dân cư</h5>
                                <p class="card-text">
                                    Quản lý các thông tin của
                                    cư dân trong khu đô thị.
                                </p>
                                <a class="btn btn-primary" [routerLink]="['../citizen-infor']">Đi đến</a>
                            </div>
                          </div>
                    </div>
    
                    <div class="p-col-12 p-lg-4">
                        <div class="card" style="width: 16rem;height: 21rem;">
                            <img 
                            class="card-img-top menu-img"
                            src="https://www.primefaces.org/ultima-ng/assets/layout/images/widgets/feature-onboarding.svg" 
                            alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Giao tiếp</h5>
                                <p class="card-text">
                                  Trò chuyện trực tiếp với cư dân,
                                  ban quản trị khu đô thị.
                                </p>
                                <a class="btn btn-primary" [routerLink]="['../citizen-chat']">Đi đến</a>
                            </div>
                          </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>
</div>