
<div [@routerTransition]>
    <ng-template #create>
        <div class="row m-0">
            <div class="col-12 p-0">
                <div class="d-flex justify-content-center m-2">
                    <button class="btn btn-primary" 
                        (click)="registerClick()">
                        Đăng ký cửa hàng
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
  
    <div *ngIf="storeData; else create">
        <router-outlet></router-outlet>
    </div>
</div>
  