

<div class="dishes">
    <div style="display: flex; margin-bottom: 20px;">
        <div style=" font-size: 25px; font-weight: 600;">Orders</div>
        <div style="margin-left: auto; display: flex;">
        </div>
    </div>
    <ng-container *ngIf="itemOrders | async as dataSource">
        <p-table #dt [value]="dataSource" responsiveLayout="scroll" [rows]="10" selectionMode="multiple" [paginator]="true"
            styleClass="p-datatable-gridlines"
            [showCurrentPageReport]="true" currentPageReportTemplate="{first}-{last}/{totalRecords} Bản ghi"
            [rowsPerPageOptions]="[10,25,50]" dataKey="id" [(selection)]="selectedOrder">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 125px">Ảnh SP</th>
                    <th>Thời gian order</th>
                    <th>Liên hệ</th>
                    <th style="text-align: center;">Số lượng</th>
                    <th style="text-align: center;">Giá SP</th>
                    <th>Trạng thái</th>
                    <th style="text-align: center;">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="order"></p-tableCheckbox>
                    </td>
                    <td>
                        <ng-container *ngIf="order.properties?.infoBasic">
                            <p-image alt="image" width="100px"
                                [src]="order.properties?.infoBasic[0]?.data[0].url">
                            </p-image>
                        </ng-container>
                    </td>
                    <td >
                        {{order.orderDate | date:'short'}}
                    </td>
                    <td >
                        {{order.orderer}}
                    </td>
                    <td style="text-align: center;">
                        {{order.quantity}}
                    </td>
                    <td style="text-align: center;">
                        <ng-container *ngIf="order.properties?.infoSell">
                            {{order.properties?.infoSell[0]?.property?.value | currency:'VND'}}
                        </ng-container>
                    </td>
                    <td>
                        <div [ngSwitch]="order.state">
                            <span *ngSwitchCase="1">
                                <p-badge [value]="'Chờ xác nhận'" severity="warning"></p-badge>
                            </span>
                            <span *ngSwitchCase="2">
                                <p-badge [value]="'Đã xác nhận'"></p-badge>
                            </span>
                            <span *ngSwitchCase="3">
                                <p-badge [value]="'Đã hoàn thành'" severity="success"></p-badge>
                            </span>
                            <span *ngSwitchCase="4">
                                <p-badge [value]="'Đã huỷ'" severity="danger"></p-badge>
                            </span>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <p-button *ngIf="order.state < 3" 
                            (click)="confirmOrder(order)" 
                            icon="pi pi-angle-double-right">
                        </p-button>
                        <p-button *ngIf="order.state < 3"
                            styleClass="p-button-danger" 
                            (click)="cancelOrder(order)" 
                            icon="pi pi-times">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </ng-container>
</div>
 