label {
  margin: 18px 50px 0 8px !important;
}
/* :host() ::ng-deep .p-datatable .p-datatable-tbody > tr {
  background-color: rgb(204, 204, 204);
  color: #000;
}
:host() ::ng-deep .p-dialog .p-dialog-header,
:host() ::ng-deep .p-dialog .p-dialog-content,
:host() ::ng-deep .p-dialog .p-dialog-footer {
  background-color: #fff;
  color: #000;
}
:host() ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon{
  background-color: rgb(141, 141, 141);
}
:host() ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover{
  background-color: rgb(110, 110, 110);
} */