<div class="card">
  <div class="card-body">
    <ng-container *ngIf="stores | async as stores">
      <p-table #dt
        [value]="stores "
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name']"
        [rowHover]="true"
        dataKey="id"
        [(selection)]="shopSelect"
        currentPageReportTemplate="Hiển thị từ {first} đến {last}
        trong tổng số
        {totalRecords} bản ghi"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <div class="row">
              <div class="col-sm-8">
                <h5 class="p-m-0">Danh sách cửa hàng</h5>
              </div>
              <div class="col-sm-4 text-right">
                <span class="p-input-icon-right">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal($event.target, 'contains')"
                    placeholder="Search..."
                  />
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Hình ảnh</th>
            <th>
              Tên cửa hàng
            </th>
            <th>
              Tên chủ shop
            </th>
            <th>
              Địa chỉ
            </th>
            <th>Liên hệ</th>
            <th>Status</th>
            <th style="width: 12rem;">Thao tác</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shop>
          <tr>
            <!-- <td>
              <p-tableCheckbox [value]="shop"></p-tableCheckbox>
            </td> -->
            <td>
              <img
                [src]="shop.properties.shopInfo?.imageUrl"
                width="100"
                height="50"
                class="p-shadow-4"
              />
            </td>
            <td>{{ shop.name }}</td>
            <td>{{ shop.owner }}</td>
            <td>{{ shop.properties.shopInfo?.address }}</td>
            <td>{{ shop.properties.shopInfo?.phoneNumber }}</td>
            <td>{{ shop.state | stateStorePipe }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                label=""
                (click)="viewInfo(shop)"
                class="p-button-rounded p-button-success p-mr-2"
              ></button>
              &nbsp;
              
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                (click)="deleteShop(shop)"
                label=""
                class="p-button-rounded p-button-warning"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>
</div>

<p-dialog header="{{editShop.name}}" [(visible)]="dialogStoreInfo" [modal]="true" [style]="{width: '65vw'}"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
      <div class="card" *ngIf="isUpdateStore" style="min-height: 10rem;">
        <div class="card-header">
          <h3 class="card-title"><strong>Phê duyệt cửa hàng</strong></h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="p-field-radiobutton">
              <p-radioButton
                name="city"
                [value]="2"
                [(ngModel)]="editShop.state"
                inputId="state2"
              ></p-radioButton>
              <label for="city2">Duyệt</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton
                name="city"
                [value]="3"
                [(ngModel)]="editShop.state"
                inputId="state3"
              ></p-radioButton>
              <label for="city3">Yêu cầu chỉnh sửa</label>
            </div>
            <div class="p-field-radiobutton">
              <p-radioButton
                name="city"
                [value]="4"
                [(ngModel)]="editShop.state"
                inputId="state4"
              ></p-radioButton>
              <label for="city3">Ngừng hoạt động</label>
            </div>
          </div>
          <br />
          <div class="row" *ngIf="editShop.state == 3 || editShop.state == 4">
            <div class="col-sm-12">
              <div class="p-field">
                <label for="city2" *ngIf="editShop.state == 3">
                  Nội dung yêu cầu chỉnh sửa
                </label>
                <label for="city2" *ngIf="editShop.state == 4">
                  Lý do cho cửa hàng ngừng hoạt động
                </label>
                <textarea
                  [(ngModel)]="editShop.stateProperties"
                  [rows]="5"
                  pInputTextarea
                  autoResize="autoResize"
                  style="width: 100%; margin-top: 12px;"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
         <div class="card-body">
          <div style="display: flex; margin-left: 10px;" >
            <div style="width: 50%;">
                <div class="p-fluid">
                    <h4 style="font-weight: bold;">Thông tin cơ bản</h4>
                    <div class="row">
                        <div class="col-5">
                          <p>Tên cửa hàng :</p>
                        </div>
                        <div class="col-7">
                          <p>{{editShop.properties?.shopInfo.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <p>Địa chỉ :</p>
                      </div>
                      <div class="col-7">
                        <p>{{editShop.properties?.shopInfo.address}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <p>Email or Site :</p>
                      </div>
                      <div class="col-7">
                        <p>{{editShop.properties?.shopInfo.email}}</p>
                        <!-- <p>{{editShop.properties?.shopInfo.site}}</p> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <p>Số điện thoại :</p>
                      </div>
                      <div class="col-7">
                        <p>{{editShop.properties?.shopInfo.phoneNumber}}</p>
                      </div>
                    </div>
                </div>
                <!-- <p-divider></p-divider> -->
                <div class="p-fluid">
                 
                  <div class="row">
                      <div class="col-12">
                        <p>Hình ảnh cửa hàng:</p>
                      </div>
                      <div class="col-12">
                        <img
                        [src]="
                          editShop.properties?.shopInfo?.imageUrl
                            ? editShop.properties?.shopInfo?.imageUrl
                            : ''
                        "
                        width="300"
                        style="align-items: center;"
                      />
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p>Mô tả cửa hàng:</p>
                    </div>
                    <div class="col-12">
                      <p>{{editShop.properties?.shopInfo?.detail}}</p>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-5">
                      <p>Vị trí bản đồ:</p>
                    </div>
                    <div class="col-7">
                      <p>{{editShop.latitude}} - {{editShop.longitude}}</p>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-12">
                      <p>Liên hệ :</p>
                    </div>
                    <!-- <div class="col-12"  *ngFor="let contact of contacts; let i = index">
                      <p>{{contact.userName}} - {{contact.phone}} - {{contact.email}}</p>
                    </div> -->
                  </div>
                </div>
                <!-- <p-divider></p-divider> -->
             </div>
            <div style="margin-left: 20px; width: 50%;">
                <div>
                    <h4 style="font-weight: bold;">Thông tin người đại diện</h4>
                    <div class="row">
                      <div class="col-5">
                        <p>Đăng ký dưới danh nghĩa :</p>
                      </div>
                      <div class="col-7">
                        <p>{{"Cá nhân"}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <p>Tên người đại diện:</p>
                      </div>
                      <div class="col-7">
                        <p>{{editShop.properties?.ownerInfo.fullName}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <p>Số điện thoại:</p>
                      </div>
                      <div class="col-7">
                        <p>{{editShop.properties?.ownerInfo.phoneNumber}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <p>Email :</p>
                      </div>
                      <div class="col-7">
                        <p>{{editShop.properties?.ownerInfo.email}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <p>Số CMNN/CCCD:</p>
                      </div>
                      <div class="col-7">
                        <p>{{editShop.properties?.ownerInfo.identityNumber}}</p>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-12">
                        <p>Đăng ký kinh doanh:</p>
                      </div>
                      <div class="col-12">
                        <img
                        [src]="
                          editShop.properties?.shopInfo?.imageUrl
                            ? editShop.properties?.shopInfo?.imageUrl
                            : ''
                        "
                        width="300"
                        style="align-items: center;"
                        />
                        </div>
                    </div> -->
                </div>
                <!-- <p-divider></p-divider> -->
               
            </div>
           </div>
         </div>
      </div>
    </ng-template>
    
   
   
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="submitObjectBusiness()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

