<div class="dishes">
  <div style="display: flex; margin-bottom: 20px;">
    <div style="font-size: 25px; font-weight: 600;">Sản phẩm</div>
    <div style="margin-left: auto; display: flex;">
      <button
        pButton
        pRipple
        label="Thêm 1 sản phẩm"
        style="margin-right: 15px;"
        icon="pi pi-plus"
        class="p-button p-mr-2"
        (click)="openNew()"
      ></button>
    </div>
  </div>
  <ng-container *ngIf="itemProducts | async as itemProducts">
    <p-table
      #dt
      [value]="itemProducts"
      responsiveLayout="scroll"
      [rows]="10"
      selectionMode="multiple"
      [paginator]="true"
      styleClass="p-datatable-gridlines"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first}-{last}/{totalRecords} bản ghi"
      [rowsPerPageOptions]="[10, 25, 50]"
      dataKey="id"
      [(selection)]="selectedProducts"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 125px;">Ảnh</th>
          <th>Tên sản phẩm</th>
          <th>Giá bán</th>
          <th>Tổng kho( sản phẩm)</th>
          <th>Tình trạng</th>
          <th style="text-align: center;">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <ng-container *ngIf="product.properties">
          <tr>
            <td>
              <p-image
                alt="image"
                width="100px"
                height="80px"
                [src]="product.properties.infoBasic[0].data[0].url"
              ></p-image>
            </td>
            <td>
              {{ product.properties.infoBasic[2].value }}
            </td>
            <td>
              {{ product.properties.infoSell[0]?.property?.value | currency:'VND' }}
            </td>
            <td>
              {{ product.properties.infoSell[1]?.property?.value }}
            </td>
            <td>
              {{ product.properties.infoOther[0]?.property?.value }}
            </td>
            <td style="text-align: center;">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success p-mr-2"
                (click)="editProduct(product)"
              ></button>
              <button
                style="margin-left: 5px;"
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteProduct(product)"
              ></button>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </ng-container>
</div>
<p-toast></p-toast>
<p-dialog header="{{'Sửa sản phẩm'}}" [(visible)]="dialogProductInfo" [modal]="true" [style]="{width: '65vw'}"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
      <div class="card">
        <div class="card-body" style="margin: 20px;">
          <h5>Thông tin cơ bản</h5>
          <br />
          <div class="row">
            <div class="col-3">
              Hình ảnh sản phẩm
            </div>
            <div class="col-9">
              <div class="row">
                <div
                  class="col-sm-2 img-item"
                  *ngFor="let image of editedProduct.properties.infoBasic[0]?.data">
                  <div *ngIf="image.url !== ''; else add">
                    <img
                      [src]="image.url"
                      style="height: 6rem; width: 6rem; position: relative;"
                    />
                    <i
                      class="fas fa-times-circle"
                      style="position: absolute; right: -10px; top: -20px;"
                      (click)="deleteLocalFile(image)"
                    ></i>
                  </div>

                  <ng-template #add>
                    <div
                      tabindex="0"
                      class=""
                      style="height: 96px; display: flex; justify-content: center;"
                    >
                      <input
                        type="file"
                        (change)="uploadImage($event, image)"
                        style="display: none;"
                        #selectFile
                        accept="image/*"
                      />
                      <button
                        type="button"
                        class="btn btn-rounded"
                        style="background-color: white;"
                        (click)="selectFile.click()"
                      >
                        <i
                          class="pi pi-plus-circle"
                          style="font-size: 1.5rem; color: #2196f3;"
                        ></i>
                      </button>
                    </div>
                  </ng-template>

                  <div style="text-align: center; color: black;">{{ image.name }}</div>
                </div>
                <!-- <div class="col-sm-2 img-item">
                   <img src='https://cdn.tgdd.vn/Products/Images/4728/242566/camera-ip-360-do-3mp-tp-link-tapo-c210-2-1-org.jpg' width="80%">
                   <div>Hình ảnh 1</div>
                 </div> -->
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col-3 d-flex justify-content-left align-items-center">
              Tên sản phẩm
            </div>
            <div class="col-9">
              <div class="p-inputgroup">
                <input
                  type="text"
                  pInputText
                  placeholder="Nhập vào"
                  [(ngModel)]="editedProduct.properties.infoBasic[2].value"/>
                <span class="p-inputgroup-addon">0/120</span>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-3">
              Mô tả sản phẩm
            </div>
            <div class="col-9">
              <div class="p-inputgroup">
                <textarea
                  [rows]="5"
                  [cols]="150"
                  pInputTextarea
                  autoResize="autoResize"
                  [(ngModel)]="editedProduct.properties.infoBasic[3].value"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-body" style="margin: 20px;">
          <h5>Thông tin chi tiết</h5>
          <br />
          <div class="row">
            <ng-container *ngFor="let detail of editedProduct.properties.infoDetail">
              <div class="col-6 mb-3">
                <div class="row">
                  <div class="col-3 d-flex justify-content-left align-items-center">
                    {{ detail.property.name }}
                  </div>
                  <div class="col-8">
                    <div
                      class="p-inputgroup"
                      *ngIf="detail.property?.inputType === 1">
                      <input
                        type="text"
                        [(ngModel)]="detail.property.value"
                        pInputText
                        placeholder="Nhập vào" />
                    </div>                  
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <br />
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-body" style="margin: 20px;">
          <h5>Thông tin bán hàng</h5>
          <br />
          <div class="row">
            <div
              class="col-sm-12"
              *ngFor="let item of editedProduct.properties.infoSell;" >
              <div class="row">
                <div class="col-3 d-flex justify-content-left align-items-center">
                  {{ item.property.name }}
                </div>
                <div class="col-8">
                  <div
                    class="p-inputgroup"
                    *ngIf="item.property.inputType === 1">
                    <p-inputNumber
                    *ngIf="item.order === 2"
                    [(ngModel)]="item.property.value" mode="currency" currency="VND" locale="vn-VN">
                    </p-inputNumber>
                    <input
                      *ngIf="item.order === 3"
                      type="text"
                      [(ngModel)]="item.property.value"
                      pInputText
                      placeholder="Nhập vào"
                    />
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>
          <br />
        </div>
      </div>
      <br />
      <div class="card">
        <div class="card-body" style="margin: 20px;">
          <h5>Thông tin khác</h5>
          <br />
          <div class="row">
            <div
              class="col-sm-12"
              *ngFor="let item of editedProduct.properties.infoOther"
            >
              <div class="row">
                <div class="col-3 d-flex justify-content-left align-items-center">
                  {{ item.property.name }}
                </div>
                <div class="col-8">
                  <div
                    class="p-inputgroup"
                    *ngIf="item.property.inputType === 1"
                  >
                    <input
                      type="text"
                      [(ngModel)]="item.property.value"
                      pInputText
                      placeholder="Nhập vào"
                    />
                  </div>
                </div>
              </div>
              <br />
            </div>
          </div>
          <br />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="submitProduct()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>