<!-- <div class="card" >
  <div style="display: flex; padding: 20px">
      <div> <p style="font-weight: 600; font-size: 20px;">Quản lý cửa hàng</p></div>
  </div>
</div> -->

<div style="background-color: #fff;">

    <div style="margin-bottom: 30px" *ngIf="shopData.state == 3">
    <p-messages [(value)]="msgs2" [enableService]="false"></p-messages>
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about">
                            <div class="about__container">
                                <div class="about__info">
                                    <h2 class="about__h2">Nội dung</h2>
                                    <div class="about__p-wrap">
                                        <p class="about__p">{{shopData.stateProperties}}</p>
                                    </div>

                                    <a class="about__link btn--e-secondary" (click)="scroll(edit)">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    </div>
    <div style="margin-bottom: 30px" #edit>
        <p-panel header="Quản lý shop" #panelEdit [toggleable]="true" [collapsed]="false" (onAfterToggle)="toggle($event)">
        <app-shop-detail [shopDetail]="shopData"></app-shop-detail>
        </p-panel>
    </div>
    <div style="margin-bottom: 30px">
        <p-panel header="Quản lý sản phẩm" [toggleable]="true" [collapsed]="coll">
            <app-product-management></app-product-management>
        </p-panel>
    </div>
    <div style="margin-bottom: 30px">
        <p-panel header="Quản lý đơn hàng" [toggleable]="true" [collapsed]="coll">
        <app-goods-order></app-goods-order>
        </p-panel>
    </div>
    <!-- <div style="margin-bottom: 30px">
        <p-panel header="Đánh giá shop" [toggleable]="true" [collapsed]="true">
            <app-rating-shop></app-rating-shop>
        </p-panel>
    </div> -->
  
</div>
