:host ::ng-deep table {
    font-size: 14px;
}

/* :host ::ng-deep 
.p-panel.p-panel-toggleable .p-panel-header,
:host ::ng-deep .p-panel .p-panel-content,
:host ::ng-deep .p-tabview .p-tabview-panels,
:host ::ng-deep .p-inputtext{
    background-color: #fff;
    color: #000;
}

:host ::ng-deep .p-selectbutton .p-button,
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th ,
:host ::ng-deep .p-paginator,
:host ::ng-deep .p-paginator .p-paginator-current{
    background-color: rgb(212, 212, 212);
    color: #000;
}
:host ::ng-deep .p-panel .p-panel-header .p-panel-header-icon{
    background-color: rgb(212, 212, 212);
}
:host ::ng-deep .p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
    color: #979797;
    border-color: transparent;
    background: rgb(151, 151, 151);;
} */
