<div [@routerTransition]>
    <p-card [style]="{'background-color':'rgb(237,237,237)'}">
        <ng-template pTemplate="title">
            <label for="">
                Thông tin người đại diện
            </label>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="restaurant-name">Đăng ký dưới danh nghĩa <span class="text-danger">*</span></label>
                    <div class="row ml-2 mb-3">
                        <button type="radio" class="btn btn-button active mr-3" [ngClass]="{ active: typeOwner == 1 }"
                            style="border-radius: 10%" (click)="chooseInvidual()">
                            Cá nhân
                        </button>
                        <button type="radio" [ngClass]="{ active: typeOwner == 2 }" class="btn btn-button"
                            (click)="chooseOrganization()">
                            Công ty/Chuỗi
                        </button>
                    </div>
                    <div class="p-field">
                        <label for="full-name">Tên đầy đủ người đại diện <span class="text-danger">*</span></label>
                        <input
                        required
                        [ngClass]="!ownerInfo.fullName && isSubmit?'ng-dirty':''"
                         [(ngModel)]="ownerInfo.fullName" type="text" pInputText>
                        <small class="p-invalid" *ngIf="!ownerInfo.fullName && isSubmit">
                          Tên đại diện không được để trống
                        </small>
                    </div>
                    <div class="p-field">
                        <label for="email">Email <span class="text-danger">*</span></label>
                        <input 
                        required
                        [ngClass]="!ownerInfo.email && isSubmit?'ng-dirty':''"
                        [(ngModel)]="ownerInfo.email" type="text" pInputText>
                        <small class="p-invalid" *ngIf="!ownerInfo.email && isSubmit">
                          Email đại diện không được để trống
                        </small>
                    </div>
                    <div class="p-field">
                        <label for="phone">Số điện thoại <span class="text-danger">*</span></label>
                        <input 
                        required
                        [ngClass]="!ownerInfo.phoneNumber && isSubmit?'ng-dirty':''"
                        [(ngModel)]="ownerInfo.phoneNumber" type="text" pInputText>
                        <small class="p-invalid" *ngIf="!ownerInfo.phoneNumber && isSubmit">
                          Số điện thoại đại diện không được để trống
                        </small>
                    </div>
                    <div class="p-field">
                        <label for="identity-number">Số CMND <span class="text-danger">*</span></label>
                        <input 
                        required
                        [ngClass]="!ownerInfo.identityNumber&& isSubmit?'ng-dirty':''"
                        [(ngModel)]="ownerInfo.identityNumber" type="text" pInputText>
                        <small class="p-invalid" *ngIf="!ownerInfo.identityNumber && isSubmit">
                          CMND đại diện không được để trống
                        </small>
                    </div>
                    <div class="p-field">
                        <ng-container *ngIf="ownerInfo.imageBRC">
                            <img *ngIf="ownerInfo.imageBRC != ''" [src]="ownerInfo.imageBRC" height="150px" width="200px">
                        </ng-container>
                        <br>
                        <br>
                        <label for="business-licence">Đăng ký kinh doanh 
                            <span *ngIf="typeOwner == 2" class="text-danger">*</span>
                        </label>
                        <p-fileUpload #fubauto mode="basic" name="demo[]" accept="image/*"
                            [customUpload]="true" [maxFileSize]="1000000" 
                            [auto]="true" chooseLabel="Tải lên"
                            (uploadHandler)="uploadImageBRC($event)">
                        </p-fileUpload>
                        <small class="p-invalid" *ngIf="!ownerInfo.imageBRC && isSubmit && typeOwner == 2">
                            Đăng ký kinh doanh không được để trống
                        </small>
                      </div>
                      <div class="p-field">
                            <label for="tax">Mã số thuế 
                                <span  *ngIf="typeOwner == 2" class="text-danger">*</span>
                            </label>
                            <input [(ngModel)]="ownerInfo.tax" type="text" pInputText>
                            <small class="p-invalid" *ngIf="!ownerInfo.tax && isSubmit && typeOwner == 2">
                                Mã số thuế không được để trống
                            </small>
                      </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-end" style="display: flex">
                <p-button label="Back" class="p-button-secondary"  
                    (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Complete" class="btn-next" 
                    (onClick)="submitShop()" icon="pi pi-angle-right" iconPos="right">
                </p-button>
            </div>
        </ng-template>
    </p-card>
  </div>