
.p-card-title,label{
    color: #000 !important;
}
small{
    color: red;
}
.p-field{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.p-button-secondary{
    margin: 0.5rem;
}
.btn-next{
    margin: 0.5rem;
}
.p-inputtext{
    background-color: #fff !important;
    color: #000;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    background-color: rgba(112, 181, 255, 0.25);
}