<!-- Table approve booking for admin -->
<section>
    <div class="card pos-fix">
        <div class="card-body">
            <div class="table-responsive">
                <ng-container *ngIf="bookings">
                    <p-table #dt
                      [value]="bookings "
                      [rows]="10"
                      [paginator]="true"
                      [globalFilterFields]="['name']"
                      [rowHover]="true"
                      dataKey="id"
                      currentPageReportTemplate="Hiển thị từ {first} đến {last}
                      trong tổng số
                      {totalRecords} bản ghi"
                      [showCurrentPageReport]="true">
                      <ng-template pTemplate="header">
                        <tr>
                            <th>{{ "Người đặt" }}</th>
                            <th>{{ "Liên hệ" }}</th>
                            <th>{{ "Dịch vụ" }}</th>
                            <th>{{ "Bắt đầu" }}</th>
                            <th>{{ "Kết thúc" }}</th>
                            <th>{{ "Tổng tiền" }}</th>
                            <th>{{ "Trạng thái" }}</th>
                            <th>{{ "Tác vụ" }}</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-booking>
                        <tr>
                            <td style="width:100px">{{booking.fullName}}</td>
                            <td>{{booking.phoneNumber}}</td>
                            <td style="width:100px">{{booking.serviceName}}</td>
                            <td>{{booking.startTime | date:'short'}}</td>
                            <td>{{booking.endTime | date:'short'}}</td>
                            <td>{{booking.total | currency:'VND'}}</td>
                            <td style="width:150px">
                                <div [ngSwitch]="booking.state">
                                    <span *ngSwitchCase="1">
                                        <p-badge [value]="'Chờ xác nhận'" severity="warning"></p-badge>
                                    </span>
                                    <span *ngSwitchCase="2">
                                        <p-badge [value]="'Đã xác nhận'"></p-badge>
                                    </span>
                                    <span *ngSwitchCase="3">
                                        <p-badge [value]="'Đã hoàn thành'" severity="success"></p-badge>
                                    </span>
                                    <span *ngSwitchCase="4">
                                        <p-badge [value]="'Đã huỷ'" severity="danger"></p-badge>
                                    </span>
                                </div>
                            </td>
                            <td style="width:115px">
                                <div class="booking-table__tool" *ngIf="booking.state==1">
                                    <button pButton pRipple 
                                        type="button" 
                                        icon="pi pi-check" 
                                        class="p-button-rounded p-button-success"
                                        (click)="submitBooking(booking, 1)">
                                    </button>
                                    <button pButton pRipple 
                                        type="button" 
                                        icon="pi pi-times" 
                                        class="p-button-rounded p-button-danger"
                                        (click)="submitBooking(booking, 2)">
                                    </button>
                                </div>
                            </td>
                        </tr>
                      </ng-template>
                    </p-table>
                </ng-container>
            </div>
        </div>
        <p-toast></p-toast>
    </div>
</section>