<!-- popup-->
<div class="modal-header">
    <h4 class="modal-title">Thông tin cư dân</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Ảnh đại diện</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="uploadImage($event.target)">
                    <label class="custom-file-label">{{fileTitle}}</label>
                </div>
            </div>
            <div class="form-group">
                <label>Họ và tên</label>
                <input [(ngModel)]="citizen.citizenName" type="text" class="form-control"
                    placeholder="Họ và tên cư dân">
            </div>
            <div class="form-group">
                <label>CMND/Căn cước</label>
                <input [(ngModel)]="citizen.identityNumber" type="text" class="form-control"
                    placeholder="Số CMND/Căn cước">
            </div>
            <div class="form-group">
                <label>Giới tính</label>
                <br />
                <div class="d-flex inline-block justify-content-between">
                    <div class="m-2">
                        <input class="m-1" type="radio" [value]="1" name="gender" [(ngModel)]="citizen.gender">Nam
                    </div>
                    <div class="m-2">
                        <input class="m-1" type="radio" [value]="0" name="gender" [(ngModel)]="citizen.gender">Nữ
                    </div>
                    <div class="m-2">
                        <input class="m-1" type="radio" [value]="2" name="gender" [(ngModel)]="citizen.gender">Khác
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Ngày sinh</label>
                <div class='input-group date'>
                    <input [(ngModel)]="citizen.dateOfBirth" type='date' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Địa chỉ nhà</label>
                <input [(ngModel)]="citizen.address" type="text" class="form-control" placeholder="Địa chỉ nhà">
            </div>
            <div class="form-group">
                <label>Tình trạng công việc</label>
                <select class="custom-select" [(ngModel)]="citizen.job">
                    <option value="0">Nghỉ hưu</option>
                    <option value="1">Không có</option>
                    <option value="2">Lãnh đạo quản lý</option>
                    <option value="3">Nhà chuyên môn bậc cao</option>
                    <option value="4">Nhà chuyên môn bậc trung</option>
                    <option value="5">Nhân viên trợ lý</option>
                    <option value="6">Nhân viên dịch vụ</option>
                    <option value="7">Lao động có kỹ năng</option>
                    <option value="8">Lao động thủ công</option>
                    <option value="9">Thợ lắp ráp, vận hành</option>
                    <option value="10">Lao động giản đơn</option>
                    <option value="11">Lực lượng vũ trang</option>
                    <option value="12">Khác</option>
                </select>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn bg-light" (click)="submitEditedCitizen(citizen)">Sửa</button>
</div>