:host ::ng-deep {
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }
    .p-galleria .p-galleria-thumbnail-container{
        background-color: #ffffff;
    }
    .p-dataview .p-dataview-content{
        height: 100vh;
    }
    .product-name {
        font-size: 16px;
        font-weight: 700;
    }
    
    .product-description {
        margin: 0 0 1rem 0;
        font-size: 14px;
    }
    
    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    
    .product-category {
        font-weight: 600;
        vertical-align: middle;
    }
    
    .product-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
    
        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
    
        .product-list-detail {
            flex: 1 1 0;
        }
    
        .p-rating {
            margin: 0 0 .5rem 0;
        }
    
        .product-price {
            font-size: 1rem;
            font-weight: 150;
            margin-bottom: .5rem;
            align-self: flex-end;
        }
    
        .product-list-action {
            display: flex;
            flex-direction: column;
        }
    
        .p-button {
            margin-bottom: .5rem;
        }
    }
    
    .product-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
        padding: 1rem;
        box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
        border-radius: 4px;
    
        .product-grid-item-top,
        .product-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        img {
            width: 75%;
            // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }
    
        .product-grid-item-content {
            width: 200px;
            text-align: center;
        }
    
        .product-price {
            font-size: 1rem;
            font-weight: 150;
        }
    }
    .product-grid-item:hover{
        cursor: pointer;
        background-color: #ffffff;
        transform: translate(5px, 5px);
    }
}

img:hover{
    cursor: pointer;
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.order-quantity{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    label{
        margin: 0.5rem 0.5rem;
    }
}
.cart-filter{
    display: flex;
    .cart-placeholder{

    }
    .cart-dropdown__icon{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .cart-dropdown__icon:hover{
        cursor: pointer;
    }
    .animation-rotate__left{
        animation: rotate-left 1s forwards;
    }
    .animation-rotate__right{
        animation: rotate-right 1s forwards;
    }
    
}
@keyframes rotate-right {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(360deg);
    }
}
@keyframes rotate-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
}
.cart-content{
    height: 300px;
    overflow: auto;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 5px 10px 10px 10px rgba(158, 158, 158, 0.164);
    .cart-dropdown{
        display: block;
        background-color: #ffffff;
        .cart-item{
            display: flex;
            padding: 1rem;
            .cart-item__quantity{
                
            }
            .cart-item__name{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 89px;
            }
            .cart-item__tool{
                display: flex;
        
                .cart-item__remove{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                }
            }
        }
    }
}

.pos__rel-right{
    position: absolute;
    right: 16px;
    top: 16px;
}

@media screen and (max-width: 576px) {
	:host ::ng-deep .product-list-item {
		flex-direction: column;
		align-items: center;

		img {
			width: 75%;
			margin: 2rem 0;
		}

		.product-list-detail {
			text-align: center;
		}

		.product-price {
			align-self: center;
		}

		.product-list-action {
			display: flex;
			flex-direction: column;
		}

		.product-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}