<div class="row">
    <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" pInputText
        placeholder="Tìm sản phẩm"
        [(ngModel)]="keyword"
        (keyup.enter)="searchProducts()" />
    </span>
</div>
<div *ngIf="allProducts | async as allProducts" class="card">
    <p-dataView #dv [value]="allProducts" [paginator]="true" [rows]="9" filterBy="name"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
        <!-- <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <p-dropdown [options]="sortOptions" placeholder="Sort By Price" 
                    (onChange)="onSortChange($event)" 
                    styleClass="p-mb-2 p-mb-md-0">
                </p-dropdown>
                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template> -->
        <ng-template let-product pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                    <div class="product-list-detail">
                        <div class="product-name">{{product.properties?.infoBasic[2]?.value | shortDescription}}</div>
                        <div class="product-description">
                            {{product.properties?.infoBasic[3]?.value | shortDescription}}
                        </div>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        <i class="pi pi-tag product-category-icon"></i>
                        <span class="product-category">
                           
                        </span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">{{product.properties?.infoSell[0]?.property?.value | currency:'VND'}}</span>
                        <p-button icon="pi pi-shopping-cart" label="Add to Cart" 
                            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'">
                        </p-button>
                        <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">
                            {{product.inventoryStatus}}
                        </span> -->
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item "
                    (click)="openDetailProduct(product)">
                    <div class="product-grid-item-top">
                        <div>
                            <!-- <i class="pi pi-tag product-category-icon"></i> -->
                            <span class="product-category"></span>
                            <img style="height: 150px; width: 200px;" alt=""
                                [src]="product.properties?.infoBasic[0]?.data[0]?.url">
                        </div>
                        <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">
                            {{product.inventoryStatus}}
                        </span> -->
                    </div>
                    <div class="product-grid-item-content">
                        <div class="product-name">{{product.properties?.infoBasic[2]?.value | shortDescription}}</div>
                        <div class="product-description">
                            {{product.properties?.infoBasic[3]?.value | shortDescription}}
                        </div>
                        <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">{{product.properties?.infoSell[0]?.property?.value | currency:'VND'}}</span>
                        <!-- <p-button icon="pi pi-shopping-cart" 
                            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'">
                        </p-button> -->
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
<app-cart-list-order></app-cart-list-order>
<app-cart></app-cart>
<div *ngIf="isDetailProduct" class="modal fade show" style="padding-right: 17px; display: block;" id="quick-look">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal--shadow">

            <div class="d-flex justify-content-end">
                <button class="btn dismiss-button far fa-times-circle" type="button" 
                    (click)="closeModal()" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="pd">
                            <div class="pd-wrap">
                                <div id="js-product-detail-modal">
                                    <div>
                                        <!-- <img class="u-img-fluid"
                                        height="150"
                                        width="200"
                                        [src]="detailProduct.properties?.infoBasic[0]?.data[0]?.url" alt=""> -->
                                        
                                        <p-galleria [value]="detailProduct.properties?.infoBasic[0].data" 
                                            [responsiveOptions]="responsiveOptions" 
                                            [containerStyle]="{}" 
                                            [numVisible]="5"
                                            [circular]="true" 
                                            [autoPlay]="true" 
                                            [transitionInterval]="3000">

                                            <ng-template pTemplate="item" let-item 
                                                let-i="index">
                                                <div>
                                                    <img
                                                    width="250" height="250"
                                                    [src]="item.url?item.url:'../../../assets/image/defaultproduct.jpg'"
                                                    (click)="imageClick(i)" />
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="thumbnail" let-item>
                                                <div class="p-grid p-nogutter p-justify-center">
                                                    <img [src]="item.url?item.url:'../../../assets/image/defaultproduct.jpg'" 
                                                        width="55" height="50"/>
                                                </div>
                                            </ng-template>
                                        </p-galleria>

                                        <!-- Zoom image -->
                                        <p-galleria [value]="detailProduct.properties?.infoBasic[0].data" 
                                            [(visible)]="displayZoom" 
                                            [(activeIndex)]="activeIndex" 
                                            [responsiveOptions]="responsiveOptions" 
                                            [numVisible]="5"
                                            [circular]="true" 
                                            [fullScreen]="true" 
                                            [showItemNavigators]="true" 
                                            [showThumbnails]="false" [baseZIndex]="100000">
                                            <ng-template pTemplate="item" let-item>
                                                <img [src]="item.url?item.url:'../../../assets/image/defaultproduct.jpg'" 
                                                    style="display: block;"/>
                                            </ng-template>
                                            <ng-template pTemplate="thumbnail" let-item>
                                                <div class="p-grid p-nogutter p-justify-center">
                                                    <img [src]="item.url?item.url:''" style="display: block;"/>
                                                </div>
                                            </ng-template>
                                        </p-galleria>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="pd-detail">
                            <div>
                                <label for="">Sản phẩm: </label>
                                <span class="pd-detail__name">
                                    {{detailProduct.properties?.infoBasic[2]?.value}}
                                </span>
                            </div>
                            <div>
                                <div class="pd-detail__inline">
                                    <label for="">Giá bán: </label>
                                    <span class="pd-detail__price">
                                        {{detailProduct.properties?.infoSell[0]?.property?.value | currency:'VND'}}
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="pd-detail__inline">
                                    <label for="">Mô tả: </label>
                                    <span class="pd-detail__price">
                                        {{detailProduct.properties?.infoBasic[3]?.value}}
                                    </span>
                                </div>
                            </div>
                            <div class="order-quantity">
                                <label for="vertical" style="display: block">Số lượng</label>
                                <p-inputNumber mode="decimal"
                                    placeholder="1"
                                    [showButtons]="true" 
                                    [min]="1"
                                    [(ngModel)]="order.quantity">
                                </p-inputNumber>
                            </div>
                            <div class="">
                                <span class="pd-detail__preview-desc">
                                     <!-- {{quickLookProduct.properties?.infoBasic[3]?.value}} -->
                                </span>
                            </div>

                            <div class="">
                                <form class="pd-detail__form">
                                    <div class="pd-detail-inline-2">
                                        <div class="">
                                            <button (click)="addToCart(detailProduct)"
                                                class="btn bg-primary" 
                                                type="submit">
                                                Thêm vào giỏ
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>