<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h4>{{ "Dịch vụ "+serviceInfor.serviceName}}</h4>
                </div>
                <div class="col-6 text-right">
                    <a class="btn"
                        [routerLink]="['../../community-booking']">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                        {{"Trở về"}}
                    </a>
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
    <!-- Create Community -->
    <section>
        <div class="row">
            <div class="col-6 ml-4">
                <button class="btn bg-light" (click)="open(mymodal)">Đặt dịch vụ</button>
            </div>
        </div>
    </section>
    <!-- popup create -->
    <ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Thông tin đặt</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Thời gian bắt đầu</label>
                        <div class='input-group date'>
                            <input
                                [(ngModel)]="booking.startTime"
                                type='datetime-local'  
                                class="form-control" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Thời gian kết thúc</label>
                        <div class='input-group date'>
                            <input
                                [(ngModel)]="booking.endTime"
                                type='datetime-local'  
                                class="form-control" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-light" (click)="submitBooking()">Đặt</button>
        </div>
    </ng-template>
    <!-- Table list booking -->
    <section>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="bg-light">
                        <tr>
                            <th>{{ "Mã user" }}</th>
                            <th>{{ "Họ tên người đặt" }}</th>
                            <th>{{ "CMNN/Căn cước" }}</th>
                            <th>{{ "Số điện thoại" }}</th>
                            <th>{{ "Mã dịch vụ" }}</th>
                            <th>{{ "Tên dịch vụ" }}</th>
                            <th>{{ "Thời gian bắt đầu" }}</th>
                            <th>{{ "Thời gian kết thúc" }}</th>
                            <th>{{ "Tổng tiền" }}</th>
                            <th>{{ "Trạng thái" }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                            *ngFor="let booking of bookings">
                            <td>{{booking.userId}}</td>
                            <td>{{booking.fullName}}</td>
                            <td>{{booking.identityNumber}}</td>
                            <td>{{booking.phoneNumber}}</td>
                            <td>{{booking.communityId}}</td>
                            <td>{{booking.serviceName}}</td>
                            <td>{{booking.startTime | date:'short'}}</td>
                            <td>{{booking.endTime | date:'short'}}</td>
                            <td>{{booking.total | currency:'VND'}}</td>
                            <td style="text-align: center;">
                                <!-- <p-checkbox
                                    [disabled]="true"
                                    [binary]="true"
                                    [(ngModel)]="booking.isApproved"
                                    [ngModelOptions]="{standalone: true}">
                                </p-checkbox> -->
                                <div [ngSwitch]="booking.state">
                                    <span *ngSwitchCase="1">
                                        <p-badge [value]="'Chờ xác nhận'" severity="warning"></p-badge>
                                    </span>
                                    <span *ngSwitchCase="2">
                                        <p-badge [value]="'Đã xác nhận'" severity="success"></p-badge>
                                    </span>
                                    <span *ngSwitchCase="3">
                                        <p-badge [value]="'Đã từ chối'" severity="danger"></p-badge>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p-toast></p-toast>
        </div>
    </section>
</div>