<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-left">
                    <h4 style="margin: 1rem;">
                        Quản lý dịch vụ
                    </h4>
                </div>
                <div class="col-6 text-right">
                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="card">
                <div class="row">
                    <div class="p-col-12 p-lg-4">
                        <div class="card" style="width: 16rem;height: 21rem;">
                            <div class="card-body">
                                <div class="menu-img">
                                    <i class="fas fa-globe-americas fa-5x"></i>
                                </div>
                                <h5 class="card-title">Thông tin dịch vụ</h5>
                                <p class="card-text">
                                    Quản lý các thông tin các 
                                    dịch vụ trong khu đô thị.
                                </p>
                                <a class="btn btn-primary" [routerLink]="['../community-infor']">Đi đến</a>
                            </div>
                          </div>
                    </div>
    
                    <div class="p-col-12 p-lg-4">
                        <div class="card" style="width: 16rem;height: 21rem;">
                            <div class="card-body">
                                <div class="menu-img">
                                    <i class="fas fa-dollar-sign fa-5x"></i>
                                </div>
                                <h5 class="card-title">Doanh thu</h5>
                                <p class="card-text">
                                  Doanh thu từ các dịch vụ
                                  trong khu đô thị.
                                </p>
                                <a class="btn btn-primary" [routerLink]="['../community-revenue']">Đi đến</a>
                            </div>
                          </div>
                    </div>
    
                    <div class="p-col-12 p-lg-4">
                        <div class="card" style="width: 16rem;height: 21rem;">
                            <div class="card-body">
                                <div class="menu-img">
                                    <i class="far fa-bell fa-5x"></i>
                                </div>
                                <h5 class="card-title">Đặt dịch vụ</h5>
                                <p class="card-text">
                                  Đặt các dịch vụ
                                  trong khu đô thị.
                                </p>
                                <a class="btn btn-primary" [routerLink]="['../community-booking']">Đi đến</a>
                            </div>
                          </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>
</div>
